{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>JUMM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'app/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- styles -->
    <link href="{% static 'app/css/styles.css' %}" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
      #datepicker {
        width: 180px;
        margin-top: 8px;
      }
      #datepicker > span:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="header">
       <div class="container">
          <div class="row">
             <div class="col-md-5">
                <!-- Logo -->
                <div class="logo">
                   <h1><a href="{% url 'home_page' %}">Jimeta Ultra Modern Market</a></h1>
                </div>
             </div>

             <!-- Date Field -->
             <div class="col-md-5">
              <div id="datepicker" class="input-group date" data-date-format="yyyy-mm-dd">
                <input class="form-control" id="date" type="text" readonly />
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
             </div>
             <!-- Date Field Ends -->

             <div class="col-md-2">
                <div class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                      <ul class="nav navbar-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                          <ul class="dropdown-menu animated fadeInUp">
                            {% if request.user.is_superuser %}
                            <li><a href="/auth/admin/">Admin Panel</a></li>
                            {% endif %}
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-8">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="gate" gate="1" href="#"><i class="glyphicon glyphicon-home" ></i> Gate I</a>
                  </li>
                   <li class="nav-item">
                    <a class="gate" gate="2" href="#"><i class="glyphicon glyphicon-home"></i> Gate II</a>
                  </li>
                   <li class="nav-item">
                    <a class="gate" gate="3" href="#"><i class="glyphicon glyphicon-home"></i> Gate III</a>
                  </li>
                   <li class="nav-item">
                    <a class="gate" gate="4" href="#"><i class="glyphicon glyphicon-home"></i> Gate IV</a>
                  </li>
                   <li class="nav-item">
                    <a class="gate" gate="5" href="#"><i class="glyphicon glyphicon-home"></i> Gate V</a>
                  </li>
                  <li class="nav-item">
                    <a class="gate" gate="Facility 1" href="#"><i class="glyphicon glyphicon-th-list"></i> Facility I</a>
                  </li>
                  <li class="nav-item">
                    <a class="gate" gate="Facility 2" href="#"><i class="glyphicon glyphicon-th-list"></i> Facility II</a>
                  </li>
                </ul>
             </div>
          </div>
       </div>
     </div>
     <img class="loader" hidden src="{% static 'app/images/loader.gif' %}">
    {% block main %}

		{% endblock main %}
    <footer>
         <div class="container">
            <div class="copy text-center">
               Copyright 2019 <a href='#'>Ajisaq Ltd.</a>
            </div>

         </div>
      </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

    <script type="text/JavaScript">
      function get_data(gate_number, date){
        date = $('#date').val();
        $.ajax({
          url: '{% url 'get_data' %}',
          data: {
            'gate_number': gate_number,
            'date': date,
          },

          beforeSend: function() {
            $('.loader').removeAttr('hidden');
          },

          complete: function() {
            $('.loader').attr('hidden', true);
          },

          success: function(data) {
            $('.data').html(data);
          },

        });
      }

      var gate_number = 1

      if(window.localStorage.getItem('gate_number') !== null){
        gate_number = window.localStorage.getItem('gate_number');
      }

      get_data(gate_number, date)

      $('.gate').on('click', function() {
        var gate_number = $(this).attr('gate');
        window.localStorage.setItem('gate_number', gate_number)
        get_data(gate_number, date);
      });


      $('#date').on('change', function() {
        var date = $(this).val();
        gate_number = window.localStorage.getItem('gate_number');
        get_data(gate_number, date);
        window.localStorage.setItem('date', String(date));
      });

    $(function () {
        $("#datepicker").datepicker({
              autoclose: true, 
              todayHighlight: true
        }).datepicker('update', new Date());
        var date = String($('#date').val());
      });

    if(window.localStorage.getItem('date') !== null){
        date = window.localStorage.getItem('date');
      }
    </script>   
    {% block js %}
    {% endblock js %}
  </body>
</html>